/* body{
	background-color: rgba(192, 189, 189, 0.3);
}

.row{
	margin: 5%;
    margin-top: 10%;
    margin-left: 10%;
}

.room{
    margin-top: 5%;
    margin-left: 5%;
    width: 20%;
    height: 10%;
}

.roomname{
    margin-left: 5%;
    width: 20%;
    height: auto;
} */